.slick-list{
    background-color:#EBEBEB;
    text-align: center;
    
}
.slick-track{
    display: flex;
    align-items: center;
}
.sliderCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.8vh;
    height: 10vh;
    cursor: pointer;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
.sliderCardContainer:hover{
    border: black 0.016em solid;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 110%;
}
.titleSider{
    display: flex;
    align-items: center;
    height: 50%;
}
.sliderValue{
    font-weight: bold;
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 50%;
}
.sValue1{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.6vw;
    height: 2.2vh;
}
.sValue2{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.2vh;
}