.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.divExterno {
  display: flex;
  flex-direction: row;
}
.divInterno {
  display: flex;
  flex-direction: column;
  margin: 0.5vh;
}
.divContaninerCenter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
input[type="text"] {
  height: 4vh;
  width: 14.5vw;
  margin-bottom: 0.3em;
}

select {
  height: 4.5vh;
  width: 15vw;
  margin-bottom: 0.3em;
}

button[type="button"] {
  margin-bottom: 0.3em;
}

.botton {
  background-color: rgba(92, 187, 209, 1);
  border: none;
  color: white;
  padding: 0.4em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0.5em;
  border-radius: 5%;
}

.botton:hover {
  background-color: rgb(128, 187, 200);
  border: 0.1em rgba(92, 187, 209, 1) solid;
}

.divContaniner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textinput {
  padding-right: 1em;
  display: flex;
  align-items: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 5vh;
}

.mainMenu {
  margin-top: 5vh;
}

.mainForm {
  flex: 3;
  margin: 1vh;
  margin-top: 5vh;
}

.menuContainer {
  padding-left: 3vw;
}

.defaultScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  font-size: 6vh;
  color: #353535e5;
}
.screenPrimary {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 2vh;
}
.menuProduccionprimaria {
  display: flex;
  align-items: center;
  background-color: rgba(92, 187, 209, 1);
  color: white;
  border: white 0.2vh solid;
  padding: 1vh;
  border-radius: 5%;
}
.menuProduccionprimaria:hover {
  background-color: rgba(92, 188, 209, 0.644);
  border: rgba(92, 187, 209, 1) 0.2vh solid;
}
.activeNavTabPanel{
  background-color: rgba(92, 188, 209, 0.644);
  border: rgb(255, 255, 255) 0.2vh solid;
}

.divMsgBottom {
  padding-top: 3vh;
}

.tituloDatoACargar {
  font-size: 6vh;
  padding-bottom: 2vh;
  color: gray;
}


.tabButtonsConstent{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tabButtons{
  display: flex;
  margin-right: 0.2vw;
  cursor: pointer;
  color: white;
  background-color: rgba(92, 187, 209, 1);
  padding: 0.5vw;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
}
.tabButtons:hover{
  background-color: rgba(92, 188, 209, 0.644);
}

.ClipLoader{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .textinput {
    display: none;
  }
  input[type="text"] {
    height: 4vh;
    width: 40vw;
    margin-bottom: 0.3em;
  }
  select {
    height: 4.5vh;
    width: 42vw;
    margin-bottom: 0.3em;
  }
}
