.headerContainer {
  flex-direction: column;
}
.logoHeaderContainer {
  margin-top: 0%;
  height: 4em;
}
.logoHeader {
  background: url(../../images/header.png) no-repeat;
  background-size: 100%;
  width: 28em;
  height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.fullCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.logoutAdministrar{
  display: flex;
  justify-content: flex-end;
  margin-top: -5vh;
  margin-bottom: 2vh;
  margin-right: 2vw;
}
.logoutAdministrar2{
  margin-right: 3vw;
  cursor: pointer;
  color: white;
  background-color: rgba(92, 187, 209, 1);
  padding: 0.5vh;
}
.logoutAdministrar2:hover{
  background-color: rgba(92, 188, 209, 0.644);
}
@media (max-width: 600px) {
  .logoHeader {
    background: url(../../images/headerLogo.png) no-repeat;
    background-size: 100%;
    width: 10em;
    height: 3em;
    margin: auto;
  }
}
