.embeds {
  flex-direction: column;
}

.embedstitle {
  text-align: center;
  font-size: 10px;
}

.embedsbody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.embedsiframe {
  width: 101%;
  min-height: 100vh;
  margin-bottom: 0px;
  padding-bottom: 8.06vh;
}
