.embeds {
  flex-direction: column;
}

.embedstitle {
  text-align: center;
}

.embedsbody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.embedsiframe {
  width: 99%;
  min-height: 100vh;
  margin-bottom: 0px;
  padding-bottom: 8.3vh;
}
