.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vh;
  margin-left: 1vw;
}
.dataList {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
}
