/* .footerWrapper{
    
} */
.centerFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stickyFooter {
  position: fixed;
  bottom: 0em;
  height: 4em;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.textFooter {
  font-weight: bold;
}
.logoMinisterio {
  width: 25em;
  height: 10em;
  margin: 2em;
}
.logoChaco {
  width: 25em;
  height: 10em;
  margin: 2em;
}
.logoSubsecretaria {
  width: 25em;
  height: 10em;
  margin: 2em;
}
